html {
    height: 100%;
}

body {
    background: linear-gradient(rgba(11, 80, 46, 1), rgba(25, 182, 104, 0.5));
    font-size: 14px;
}

.form-container {
    width: 400px;
    height: 480px;
    background: rgba(217, 217, 217, 0.20999999344348907);
    opacity: 1;
    position: absolute;
    top: 90px;
    left: 150px;
    border: 1px solid rgba(11, 80, 46, 1);
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    opacity: 1;
    white-space: nowrap;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.input-container {
    width: 340px;
    height: 50px;
    background: rgba(217, 217, 217, 1);
    opacity: 1;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 15px;
}

.password-container {
    width: 340px;
    height: 60px;
    background: rgba(217, 217, 217, 1);
    opacity: 1;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 15px;
}

input {
    border: none;
    background-color: rgba(217, 217, 217, 1);
    text-align: start;
    justify-content: center;
    font-size: 1.25rem;
    font-family: Inter;
    /* color: ; */
}

input:focus {
   border: none;
   outline-style: none;
}

button{
    width: 340px;
    height: 60px;
    background: #0B502E;
    border-radius: 15px;
    font-size: 1.25rem;
    overflow: hidden;
    position: relative;
    margin-top: .8rem;

    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    cursor: pointer;
} 

#continue {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    font-family: Inter;
    color: black;
    white-space: nowrap;
}

.Forget{
    display: flex;
    text-align: end;
    text-decoration: none;
    font-size: 1rem ;
    font-family: Inter;
    color: black;
    white-space: nowrap;
    margin-top: 15px;
    margin-left: 150px;
}
.eye {
    width: 30px;
    margin-right: 60px;
    margin-top: 18px;
    position: absolute;
}

.cover {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8rem;
    right: 20rem;
    overflow: hidden;
    
} 
